; cli configs
user-agent = "npm/{npm-version} node/{node-version} {platform} {arch}"
long = true

; default values
;access = restricted ; public
;also = null
;always-auth = false
;bin-links = true
;browser = null
;ca = null
;cache = "${HOME}/.npm"
;cache-lock-retries = 10
;cache-lock-stale = 60000
;cache-lock-wait = 10000
;cache-max = null
;cache-min = 10
;cafile = undefined
;cert = null
color = always
;depth = null
;description = true
;dev = false
;dry-run = false
;editor = "vi"
;engine-strict = false
;fetch-retries = 2
;fetch-retry-factor = 10
;fetch-retry-maxtimeout = 60000
;fetch-retry-mintimeout = 10000
;force = false
;git = "git"
;git-tag-version = true
;global = false
;global-style = false
;globalconfig = "/usr/etc/npmrc"
;globalignorefile = "/usr/etc/npmignore"
;group = 1001
;heading = "npm"
;https-proxy = null
;if-present = false
;ignore-scripts = false
init-author-email = "tbaltrushaitis@gmail.com"
init-author-name = "Tomas"
init-author-url = "https://github.com/tbaltrushaitis"
init-license = "MIT"
;init-module = "${HOME}/.npm-init.js"
init-version = "1.0.0"
;json = false
;key = null
;legacy-bundling = false
;link = false
;local-address = undefined
;loglevel = "warn"
;message = "%s"
;node-version = "5.12.0"
;npat = false
;onload-script = null
;only = null
;optional = true
;parseable = false
;prefix = "/usr"
;production = false
;progress = true
;proprietary-attribs = true
;proxy = null
;rebuild-bundle = true
;registry = "https://registry.npmjs.org/"
;rollback = true
;save = false
;save-bundle = false
;save-dev = false
;save-exact = false
;save-optional = false
;save-prefix = "^"
;scope = ""
;searchexclude = null
;searchopts = ""
;searchsort = "name"
;shell = "/bin/bash"
;shrinkwrap = true
;sign-git-tag = false
;strict-ssl = true
spin = always
;tag = "latest"
;tag-version-prefix = "v"
;tmp = "/tmp"
;umask = 002
;unicode = true
;unsafe-perm = true
;usage = false
;user = 0
;userconfig = "${HOME}/.npmrc"
;version = false
;versions = false
;viewer = "man"
