##  ------------------------------------------------------------------------  ##
##                          EDIT ONLY IN THIS FILE                            ##
##  ------------------------------------------------------------------------  ##

APP_NAME=mp3web
APP_ENV=production
APP_DEBUG=true
#APP_DEBUG=`if [ "development" eq "${APP_ENV}" ]; then echo true; else echo false; fi`

APP_KEY=base64:/this_is-example/key+M=
APP_URL=http://mp3.local
APP_BASE=/var/www/html/sites/
APP_HOME=mp3web
APP_DIR=webroot
WEB_USER="www-data"
WEB_GROUP="www-data"

ENGINE_NAME=laravel
ENGINE_TAG=laravel
ENGINE_VERSION=5.2

# REPO_HOST=https://github.com
REPO_HOST=https://bitbucket.org
REPO_USER=tbaltrushaitis
REPO_NAME=mp3web
REPO_BRANCH=latest
